@font-face {
  font-family: "GT Flexa Mono Trial VF";
  src: url("./fonts/GT-Flexa-Mono-Trial-VF.ttf") format("truetype");
}

@font-face {
  font-family: "GT Haptik Bold";
  src: url("./fonts/GT-Haptik-Bold.woff2") format("opentype");
}

@font-face {
  font-family: "GT Haptik Regular";
  src: url("./fonts/GT-Haptik-Regular.woff2") format("opentype");
}

@font-face {
  font-family: "GT Haptik Regular Rotalic";
  src: url("./fonts/GT-Haptik-Regular-Rotalic.woff2") format("opentype");
}

@font-face {
  font-family: "GT Haptik Thin";
  src: url("./fonts/GT-Haptik-Thin.woff2") format("opentype");
}

body {
  margin: 0;
  padding: 0;
  font-family: "GT Flexa Mono Trial VF", monospace;
  background: #f2f0ed;
  cursor: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAyMCAyMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGNpcmNsZSBjeD0iMTAiIGN5PSIxMCIgcj0iMTAiIGZpbGw9IiNjY2ZmODkiLz4KPC9zdmc+Cg==")
      10 10,
    auto;
  text-decoration: none;
  color: black;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background: #f2f0ed;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
}

.navbar h1 {
  font-family: "inter", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 27px;
  margin: 0;
  margin-top: 10px;
  cursor: pointer;
  display: inline-block;
}

.navbar h1 span {
  display: inline-block;
  transition: transform 0.3s ease-in-out;
}

.navbar h1:hover span {
  transform: rotate(-15deg);
}

.navbar h1:hover span:nth-child(odd) {
  transform: rotate(15deg);
}

.navbar h1:hover span:nth-child(even) {
  transform: rotate(-15deg);
}

.footer {
  text-decoration: none;
}

.footer h1 {
  color: #000000;
}

.container {
  display: flex;
  margin-top: 0;
  height: 100vh;
}

.sidebar {
  width: 25%;
  background: #f2f0ed;
  overflow-y: auto;
  margin-top: 60px;
  padding: 20px;
}

h3 {
  font-family: "inter", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.project-title {
  font-family: "swear-display", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  margin: 0px;
  margin-bottom: 10px;
}

.project-vertical {
  font-family: "degular-mono", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  display: block;
  margin: 10px 0 10px 0;
  padding: 5px;
  background: #ffffff;
}

.intro {
  font-family: "GT Flexa Mono Trial VF", monospace;
  font-size: 10px;
  display: flex;
}

.project-description {
  margin-top: 2px;
  margin-bottom: 0px;
  font-size: 10px;
}

.project-link a {
  text-decoration: none;
  align-items: right;
  justify-content: right;
  font-family: "GT Flexa Mono Trial VF", monospace;
  font-size: 10px;
  margin: 0px 0 10px 0;
  padding: 5px 10px;
  background: #ffffff;
  color: black;
}

.project-item .project-title {
  color: black;
}

.project-item:hover .project-title {
  color: grey;
}
.project-item.active .project-title {
  color: #9d0d6f;
}

.project-item .project-vertical {
  display: none;
}

.project-item:hover .project-vertical,
.project-item.active .project-vertical {
  display: inline-block;
}

.project-item .project-description {
  display: none;
}

.project-item.active .project-description {
  display: inline-block;
}

.main-content {
  width: 75%;
  overflow-y: auto;
  position: relative;
  display: block;
  z-index: 1;
  background: #f2f0ed;
  padding: 5px 15px 15px 15px;
  box-sizing: border-box;
}

.main-content h2 {
  font-family: "inter", serif;
  font-weight: 600;
  font-style: normal;
  font-size: 40px;
  margin-top: 10px;
  margin-bottom: 0px;
  padding-bottom: 0;
  clear: both;
}

.case-study-description h3 {
  text-decoration: none;
}

.case-study {
  max-width: 1200px;
  margin: 0;
  padding-bottom: 5px;
}

.project-tool {
  font-family: "GT Flexa Mono Trial VF", monospace;
  font-size: 10px;
  display: inline-block;
  margin: 2px;
  padding: 5px;
  background: #ffffff;
}

.button-link {
  font-family: "GT Flexa Mono Trial VF", monospace;
  font-size: 10px;
  display: inline-block;
  margin: 2px;
  padding: 5px;
  background: #ffffff;
  color: #000000;
  text-decoration: none;
}

.first-image {
  width: 100%;
  margin-top: 10px;
}

.full-width-image {
  width: 100%;
  margin-top: 2.5px;
  margin-bottom: 0px;
}

.image-container {
  display: flex;
  margin-top: 10px;
  gap: 15px;
  align-items: stretch;
}

.single-width-image,
.third-width-image {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.single-width-image {
  flex: 1;
}

.third-width-image {
  flex: 2;
}

.single-width-image img,
.third-width-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cropped-gif {
  width: 100%;
  height: 680px;
  object-fit: cover;
  object-position: center 70%;
}

.cropped-img {
  width: 100%;
  height: 680px;
  object-fit: cover;
  object-position: center 60%;
}

.case-study-video {
  margin-top: 50px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.case-study-intro {
  display: flex;
  flex-wrap: wrap;
  font-family: "Inter", serif;
  font-weight: 300;
}

.case-study-description {
  width: 65%;
  font-family: "Inter", serif;
  font-weight: 300;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-top: 0;
  line-height: 1.5;
  font-size: 14px;
}

.case-study-conclusion {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-family: "Inter", serif;
  font-weight: 300;
}

.case-study-conclusion-description {
  width: 65%;
  font-family: "Inter", serif;
  font-weight: 300;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-top: 0;
  line-height: 1.5;
  font-size: 14px;
}

.case-study-conclusion-bullets {
  width: 32%;
  color: #9a9a9a;
  font-family: "Inter", serif;
  font-weight: 300;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-top: 0;
  line-height: 1.5;
  font-size: 14px;
}

.styled-link {
  color: #000000;
  text-decoration: underline;
}

.styled-link:hover {
  text-decoration: underline;
  color: #cb80b3;
}

.case-study-three-imgs {
  display: flex;
  gap: 5px;
  margin-bottom: 0px;
  margin-top: 10px;
}

.img-column {
  flex: 1;
}

.case-study-three-videos {
  display: flex;
  gap: 10px;
  margin-bottom: 40px;
}

.video-column {
  flex: 1;
}

.gallery-container {
  width: 100%;
  height: 400px;
  display: flex;
  overflow: hidden;
  margin-top: 20px;
  margin-bottom: 10px;
  border: 1px solid #000000;
}

.gallery-container.one-image .gallery-item {
  flex: 0 0 100%;
  position: relative;
  margin: 0px;
}

.gallery-container.one-video .gallery-item {
  flex: 0 0 100%;
  position: relative;
  margin: 0px;
}

.gallery-container.two-images .gallery-item {
  flex: 0 0 50%;
  position: relative;
  margin: 0px;
}

.gallery-container.three-images .gallery-item {
  flex: 0 0 33.333%;
  position: relative;
  margin: 0px;
}

.gallery-container.two-images-uneven .gallery-item.wide {
  flex: 0 0 62%;
  margin: 0px;
}
.gallery-container.two-images-uneven .gallery-item.narrow {
  flex: 0 0 38%;
  margin: 0px;
}

.gallery-container.two-images-uneven .gallery-item {
  position: relative;
  margin: 0px;
}

.gallery-container .gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  margin: 0px;
}

.hidden {
  display: none;
}

